<app-navbar></app-navbar>
<div class="main-container" fxLayout="column">
  <div class="main-content" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field fxFlex="50">
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="searchCtrl" placeholder="Enter postal code or city name to search">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let location of filteredLocations | async" [value]="location.name">
            <span>{{location.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="footer-container">
    <app-footer></app-footer>
  </div>
</div>